<div class="body" >
    <div class="container">
        <div class="box-text">
            <div class="text-box"><label class="lbl-text">Você realmente deseja Apagar:</label></div>
        </div>
        <div class="box-buttons">
            <div class="box-btn-cancelar" > <button  class="btnCancelar" (click)="closeDeleteDialog()">Cancelar</button></div>
            <div class="box-btn-excluir" > <button  class="btnExcluir" id="iconTrash" >Excluir</button></div>
        </div>
    </div>

</div>
